@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red {
  color: red;
  font-size: 20px;
}

.purple {
  color: purple;
  font-size: 20px;
}
.deafault {
  color: black;
  font-size: 20px;
}