@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.html {
  height: 100%;
}

.body {
  font-family: "Nunito", sans-serif;
  height: 100%;
  background-color: black;
}

.red {
  color: red;
  font-size: 20px;
}

.purple {
  color: purple;
  font-size: 20px;
}

.deafault {
  color: black;
  font-size: 20px;
}

