@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.border-animation {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

.border-animation::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    rgba(186, 85, 211, 0.7),
    rgba(255, 255, 255, 0),
    rgba(186, 85, 211, 0.7),
    rgba(255, 255, 255, 0)
  );
  background-size: 300% 300%;
  mask: linear-gradient(black, black) content-box, black;
  -webkit-mask: linear-gradient(black, black) content-box, black;
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  animation: borderLightTravel 5s infinite linear;
}

@keyframes borderLightTravel {
  0% {
    background-position: 0% 50%; /* Start of animation */
  }
  100% {
    background-position: 100% 50%; /* End of animation */
  }
}

.border-animation > * {
  position: relative;
  z-index: 1;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: blueviolet;
}
header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#scanned-name-box {
  box-shadow: #8492a684 0px 30px 60px -12px inset,
    #273444 0px 18px 36px -18px inset;
}
#week-menu {
  box-shadow: #8492a684 0px 30px 60px -12px inset,
    #273444 0px 18px 36px -18px inset;
}
main {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 2rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "names names week week "
    "names names week week "
    "names names week week";
  gap: 2rem;
}

.day {
  grid-area: day;
}

.names {
  grid-area: names;
}

.week {
  grid-area: week;
}
