@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

html {
  height: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100%;
  background-color: blueviolet;
}

main {
  padding: 2rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "day day names names week week"
    "day day names names week week"
    ". . names names . .";
  gap: 2rem;
}

.day {
  grid-area: day;
}

.names {
  grid-area: names;
}

.week {
  grid-area: week;
}

#div-img {
  background-image: url("../public/imgs/foodimgs.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
